
<form  [formGroup]="reactiveForm_edit_service " (ngSubmit)="onSubmit_edit_service ()" #form_edit_service ="ngForm" class="row">
  
<!-- nom field avec un control de validite -->
          <div class="form-group col-sm-6">
          <label >nom</label>
          <input class="form-control" type="text"  formControlName="nom"  placeholder="nom"  [ngClass]="{ 'is-invalid': submitted && f.nom.errors }"/>
          <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
          <div *ngIf="f.nom.errors.required"> nom est obligatoire </div>
          </div>
          </div>  
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_edit_service "
        (click)="form_edit_service .ngSubmit.emit()">{{loading_edit_service ?"En cours ...":"Valider"}}</button>
    <button class="btn btn-secondary m-2" type="reset" (click)="onReset_edit_service ()">Vider</button>
</div>
