<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les Roles  - {{les_roles.length}}</div>
  <div class="d-flex">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_role">Ajouter Role</button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id_role</th>
<th scope="col">nom</th>
<th scope="col">id_utilisateur</th>
<th scope="col">id_service</th><th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_role of les_roles">
        <td>{{one_role.id_role}}</td>
<td>{{one_role.nom}}</td>
@for (one_utilisateur of les_utilisateurs; track $index) {
  @if (one_utilisateur.id_utilisateur == one_role.id_utilisateur) {
    <td>{{one_utilisateur.nom}}</td>
  }
}
@for (one_service of les_services; track $index) {
  @if (one_service.id_service == one_role.id_service) {
    <td>{{one_service.nom}}</td>
  }
}
<td>
  <div class="dropdown">
    <button [disabled]="loading_delete_role" type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">{{loading_delete_role?"en cours ...":"actions"}}</button>
    <div class="dropdown-menu">
      <a (click)="on_click_edit(one_role)" class="dropdown-item" data-bs-toggle="modal"
        data-bs-target="#modal_edit_role">
        <i class="bx bx-edit-alt me-1"></i>
        Modifier
      </a>
      <a class="dropdown-item" href="javascript:void(0);" (click)=delete_role({id_role:one_role.id_role})><i class="bx bx-trash me-1"></i>Supprimer</a>
    </div>
  </div>
</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<div class="modal fade" id="modal_add_role" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header " data-bs-theme="dark">
              <h1 class="modal-title fs-5">Ajouter Role</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <app-add-role (cb_add_role)="after_add($event)"></app-add-role>
          </div>
      </div>
  </div>
</div>
<!-- modification -->
<div class="modal fade" id="modal_edit_role" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" data-bs-theme="dark">
        <h1 class="modal-title fs-5">Modifier Role</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="on_close_modal_edit()"></button>
      </div>
      <div class="modal-body">
        <app-edit-role *ngIf="role_to_edit" (cb_edit_role)="after_edit($event)" [role_to_edit]="role_to_edit"></app-edit-role>
      </div>
    </div>
  </div>
</div>
