<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les TacheUtilisateurs  - {{les_tache_utilisateurs.length}}</div>
  <div class="d-flex">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_tache_utilisateur">Ajouter TacheUtilisateur</button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id_tache_utilisateur</th>
<th scope="col">id_utilisateur</th>
<th scope="col">id_tache</th><th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_tache_utilisateur of les_tache_utilisateurs">
        <td>{{one_tache_utilisateur.id_tache_utilisateur}}</td>
<td>{{one_tache_utilisateur.id_utilisateur}}</td>
<td>{{one_tache_utilisateur.id_tache}}</td><td>
  <div class="dropdown">
    <button [disabled]="loading_delete_tache_utilisateur" type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">{{loading_delete_tache_utilisateur?"en cours ...":"actions"}}</button>
    <div class="dropdown-menu">
      <a (click)="on_click_edit(one_tache_utilisateur)" class="dropdown-item" data-bs-toggle="modal"
        data-bs-target="#modal_edit_tache_utilisateur">
        <i class="bx bx-edit-alt me-1"></i>
        Modifier
      </a>
      <a class="dropdown-item" href="javascript:void(0);" (click)=delete_tache_utilisateur({id_tache_utilisateur:one_tache_utilisateur.id_tache_utilisateur})><i class="bx bx-trash me-1"></i>Supprimer</a>
    </div>
  </div>
</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<div class="modal fade" id="modal_add_tache_utilisateur" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header " >
              <h1 class="modal-title fs-5">Ajouter TacheUtilisateur</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <app-add-tache-utilisateur (cb_add_tache_utilisateur)="after_add($event)"></app-add-tache-utilisateur>
          </div>
      </div>
  </div>
</div>
<!-- modification -->
<div class="modal fade" id="modal_edit_tache_utilisateur" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" >
        <h1 class="modal-title fs-5">Modifier TacheUtilisateur</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="on_close_modal_edit()"></button>
      </div>
      <div class="modal-body">
        <app-edit-tache-utilisateur *ngIf="tache_utilisateur_to_edit" (cb_edit_tache_utilisateur)="after_edit($event)" [tache_utilisateur_to_edit]="tache_utilisateur_to_edit"></app-edit-tache-utilisateur>
      </div>
    </div>
  </div>
</div>
