<form  [formGroup]="reactiveForm_add_service " (ngSubmit)="onSubmit_add_service ()" #form_add_service ="ngForm" class="row">

  <!-- champs nom avec une gestion de la validité -->
  <div class="form-group col-sm-6">
  <label >nom</label>
  <input class="form-control" type="text"  formControlName="nom"  placeholder="nom"  [ngClass]="{ 'is-invalid': submitted && f.nom.errors }"/>
  <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
  <div *ngIf="f.nom.errors.required"> nom est obligatoire </div>
  </div>
  </div>
  <!-- champs id_structure avec un control de validite : clé étrangère liée à la colonne id_structure de la table structure -->
  <div class="form-group col-sm-6">
  <label >structure</label>
  <select [ngClass]="{ 'is-invalid': submitted && f.id_structure.errors }" class="form-select" formControlName="id_structure">
  <option value="">Sélectionnez un(e) structure</option>
  <option [value]="one_structure.id_structure" *ngFor="let one_structure of form_details.les_structures">{{one_structure.nom}}</option>
  </select>
  <div *ngIf="submitted && f.id_structure.errors" class="invalid-feedback">
  <div *ngIf="f.id_structure.errors.required">ce champ est obligatoire</div>
  </div>
  </div>

  </form>
  <!-- vous pouvez valider votre formulaire n\'importe ou -->

  <div class="text-center m-2">
  <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_service "
  (click)="form_add_service .ngSubmit.emit()">{{loading_add_service ?"En cours ...":"Valider"}}</button>
  <button class="btn btn-secondary m-2" type="reset" (click)="onReset_add_service ()">Vider</button>
  </div>
