<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les Carrieres  - {{les_carrieres.length}}</div>
  <div class="d-flex">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_carriere">Ajouter Carriere</button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id_carriere</th>
<th scope="col">niveau</th><th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_carriere of les_carrieres">
        <td>{{one_carriere.id_carriere}}</td>
<td>{{one_carriere.niveau}}</td><td>
  <div class="dropdown">
    <button [disabled]="loading_delete_carriere" type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">{{loading_delete_carriere?"en cours ...":"actions"}}</button>
    <div class="dropdown-menu">
      <a (click)="on_click_edit(one_carriere)" class="dropdown-item" data-bs-toggle="modal"
        data-bs-target="#modal_edit_carriere">
        <i class="bx bx-edit-alt me-1"></i>
        Modifier
      </a>
      <a class="dropdown-item" href="javascript:void(0);" (click)=delete_carriere({id_carriere:one_carriere.id_carriere})><i class="bx bx-trash me-1"></i>Supprimer</a>
    </div>
  </div>
</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<div class="modal fade" id="modal_add_carriere" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header " data-bs-theme="dark">
              <h1 class="modal-title fs-5">Ajouter Carriere</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <app-add-carriere (cb_add_carriere)="after_add($event)"></app-add-carriere>
          </div>
      </div>
  </div>
</div>
<!-- modification -->
<div class="modal fade" id="modal_edit_carriere" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" data-bs-theme="dark">
        <h1 class="modal-title fs-5">Modifier Carriere</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="on_close_modal_edit()"></button>
      </div>
      <div class="modal-body">
        <app-edit-carriere *ngIf="carriere_to_edit" (cb_edit_carriere)="after_edit($event)" [carriere_to_edit]="carriere_to_edit"></app-edit-carriere>
      </div>
    </div>
  </div>
</div>
  