<div class="d-flex align-items-center justify-content-between">
  <!-- <div class="fs-1">
    Module home
  </div> -->
  <div class="d-flex">
    <!-- <div class="dropdown">
      <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
      data-bs-toggle="dropdown">{{menu.titre}}</button>
      <div class="dropdown-menu">
        <a routerLinkActive="bg-primary text-white"  *ngFor="let one_menu of menu.items" [routerLink]="[one_menu.path]" class="dropdown-item" >
          {{one_menu.libelle}}
        </a>
      </div>
    </div>
  </div> -->
    <div id="" class="menu">
      <!-- <img src="../../../assets/image/images.jpeg" class="img" alt=""> -->
      <!-- <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="text-success">Mon Application</h3>
        </div>
        <ul class="sidebar-menu">
            <li class="sidebar-item"><a href="#">Accueil</a></li>
            <li class="sidebar-item">
                <a href="#">Services</a>
                <ul>
                  @for (menu of menu_chef.items; track $index) {

                  <li class="nav-item" routerLinkActive="bg-success text-white" [routerLink]="[menu.path]"><a class="nav-llink"
                      routerLinkActive="bg-success text-white" id="link" [routerLink]="[menu.path]">
                      <i class={{menu.icon}}></i>
                      {{menu.libelle}}
                    </a></li>
                  }
                </ul>
            </li>
            <li class="sidebar-item"><a href="#">À propos</a></li>
            <li class="sidebar-item"><a href="#">Contact</a></li>
        </ul>
    </div> -->
      @if (user.statut == 'admin') {
      <div class="sidebar">
        <div class="sidebar-header">
          <i class="bi bi-person-circle icon-extra-large"></i>
          <h3>{{user.nom}}</h3>
          @for (role of les_roles; track $index) {
            @if (user.id_utilisateur == role.id_utilisateur) {
              @for (service of les_services; track $index) {
                @if (role.id_service == service.id_service) {
                  <h4>{{service.nom}}</h4>
                }
              }
            }
          }
        </div>
        <ul class="sidebar-menu">
          @for (menu of menu_chef.items; track $index) {
          @if (menu.libelle == 'service') {

          <li class="sidebar-item" routerLinkActive="bg-success text-white" (click)="toggleDropdown($event)">
            <!-- <h5>{{menu.libelle}}</h5> -->
            <a class="nav-llink"
                   id="link" [routerLink]="[menu.path]">
                  <i class={{menu.icon}}></i>
                  {{menu.libelle}}
                </a>
            <ul class="sidebar-dropdown" [class.active]="isDropdownOpen">
              @for (one_service of les_services; track $index) {
              <li class="sidebar-dropdown-item" routerLinkActive="bg-success text-white"
                [routerLink]="['/home/'+path[$index]]" (click)="toggleDropdown($event)">
                <a [routerLink]="['/home/'+path[$index]]" routerLinkActive="bg-success text-white">
                  {{one_service.nom}}
                </a>
              </li>
              }
            </ul>
          </li>
          }@else {
          <li class="nav-item" routerLinkActive="bg-success text-white" [routerLink]="[menu.path]"><a class="nav-llink"
              routerLinkActive="bg-success text-white" id="link" [routerLink]="[menu.path]">
              <i class={{menu.icon}}></i>
              {{menu.libelle}}
            </a></li>
          }
          }
        </ul>
      </div>
      }@else if (user.statut == 'agent') {
      <!-- <img src="../../../assets/_f669d9cd-66f7-4297-8bff-f5e47e786f0f.jpeg" alt=""> -->
      <!-- <ul>
    @for (menu of menu_agent.items; track $index) {
      <i class='bx bx-log-out-circle'></i>
      <li class="nav-item" routerLinkActive="bg-success text-white" [routerLink]="[menu.path]"><a
        class="nav-llink" routerLinkActive="bg-success text-white" id="link" [routerLink]="[menu.path]">
        <i class={{menu.icon}}></i>
        {{menu.libelle}}
      </a></li>
    }
    </ul> -->
      <div class="sidebar">
        <div class="sidebar-header">
          <i class="bi bi-person-circle icon-extra-large" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
          <h3>{{user.nom}}</h3>
          @for (role of les_roles; track $index) {
            @if (user.id_utilisateur == role.id_utilisateur) {
              @for (service of les_services; track $index) {
                @if (role.id_service == service.id_service) {
                  <h4>{{service.nom}}</h4>
                }
              }
            }
          }
        </div>

        <ul class="sidebar-menu">
          <li class="sidebar-item" routerLinkActive="bg-success text-white" [routerLink]="['/home/demande']">
            <a class="nav-llink" id="link">
              Demande</a>

          </li>
        </ul>
        <ul>
          @for (menu of menu_chef.items; track $index) {
          @if (menu.libelle == 'service') {
          <li class="sidebar-item" routerLinkActive="bg-success text-white" (click)="toggleDropdown($event)">
            <h5>{{menu.libelle}}</h5>
            <!-- <a class="nav-llink"
          routerLinkActive="bg-success text-white" id="link" [routerLink]="[menu.path]">
          <i class={{menu.icon}}></i>
          {{menu.libelle}}
        </a> -->
            <ul class="sidebar-dropdown" [class.active]="isDropdownOpen">
              @for (one_role of les_roles; track $index) {
              @for (one_service of les_services; track $index) {

              @if (user.id_utilisateur == one_role.id_utilisateur && one_role.id_service ==one_service.id_service) {

              <li class="sidebar-item" routerLinkActive="bg-success text-white" [routerLink]="['/home/'+path[$index]]"
                (click)="toggleDropdown($event)">
                <a [routerLink]="['/home/'+path[$index]]">
                  {{one_service.nom}}
                </a>
              </li>
              }
              }
              }

            </ul>
          </li>
          }
          }
        </ul>
        <!-- <ul class="sidebar-dropdown" [class.active]="isDropdownOpen">
      @for (one_role of les_roles; track $index) {
      @for (one_service of les_services; track $index) {

      @if (user.id_utilisateur == one_role.id_utilisateur && one_role.id_service ==one_service.id_service) {

      <li class="sidebar-item" routerLinkActive="bg-success text-white" [routerLink]="['/home/'+path[$index]]">
        <a [routerLink]="['/home/'+path[$index]]">
          {{one_service.nom}}
        </a>
      </li>
      }
      }
      }
    </ul> -->
      </div>
      }
    </div>
    <div class="container" id="container">
      <!-- <img src="../../../assets/image/logosamahampate.png" alt=""> -->
      <router-outlet></router-outlet>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content align-items-center justify-content-center">

          <i class="bi bi-person-circle icon-extra-large"></i>
          <h3>{{user.nom+"  "+user.prenom}}</h3>
          <h6>{{"Email : "+user.email}}</h6>
          <p>{{user.statut}}</p>
          @for (role of les_roles; track $index) {
            @if (user.id_utilisateur == role.id_utilisateur) {
              @for (service of les_services; track $index) {
                @if (role.id_service == service.id_service) {
                  <h4>{{service.nom}}</h4>
                }
              }
            }
          }
          <div id="deconnexion" class="d-flex align-content-center justify-content-end">
            <a routerLinkActive="bg-primary text-white" (click)="deconnexion()" data-bs-dismiss="modal"
              class="btn btn-outline-secondary m-4">
              <i class="bi bi-box-arrow-left"></i>
              Deconnexion
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
