<div class="d-flex align-items-center justify-content-between">
  <!-- <div class="fs-1">
    Module home
  </div> -->
  <div class="d-flex">
    <div id="" class="menu">

      @if (user.statut == 'admin') {
      <div class="sidebar">
        <div class="sidebar-header">
          <i class="bi bi-person-circle icon-extra-large" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
          <h3>{{user.nom}}</h3>

        </div>
        <ul class="sidebar-menu">
          @for (menu of menu_chef.items; track $index) {

          <li class="nav-item" routerLinkActive="bg-success text-white" [routerLink]="[menu.path]"><a class="nav-llink"
              routerLinkActive="bg-success text-white" id="link" [routerLink]="[menu.path]">
              <i class={{menu.icon}}></i>
              {{menu.libelle}}
            </a></li>
          }
        </ul>
      </div>
      }@else if (user.statut == 'agent') {
      <div class="sidebar">
        <div class="sidebar-header">
          <i class="bi bi-person-circle icon-extra-large" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
          <h3>{{user.nom}}</h3>

        </div>

        <!-- <ul class="sidebar-menu">
          <li class="sidebar-item" routerLinkActive="bg-success text-white" [routerLink]="['/home/profil']">
            <a class="nav-llink" id="link">Profil</a>
          </li>
          <li class="sidebar-item" routerLinkActive="bg-success text-white" [routerLink]="['/home/demande']">
            <a class="nav-llink" id="link"> Congés</a>
          </li>
          <li class="sidebar-item" routerLinkActive="bg-success text-white" [routerLink]="['/home/salaire']">
            <a class="nav-llink" id="link"> Salaire</a>
          </li>
        </ul> -->
        <ul class="sidebar-menu">
          @for (tache of les_taches; track $index) {
            @if (tache.type == 'par défaut' ) {
            @for (one_service of les_services; track $index) {
            @if (tache.id_service == one_service.id_service) {
            <h5><STROng>{{one_service.nom}}</STROng></h5>
            <li><a href={{tache.lien}}>{{tache.nom}}</a></li>
            }
            }
            }
            }
          @for (one_service of les_services; track $index) {
          @if (user.id_service == one_service.id_service) {
          <h5><STROng>{{one_service.nom}}</STROng></h5>
          @for (tache of les_taches; track $index) {
          @if (tache.id_service == user.id_service) {
          @for (tache_utilisateur of les_tache_utilisateurs; track $index) {
          @if (user.id_utilisateur == tache_utilisateur.id_utilisateur && tache_utilisateur.id_tache == tache.id_tache)
          {
          <li><a href={{tache.lien}}>{{tache.nom}}</a></li>
          }
          }
          }
          }
          }

          }


        </ul>

      </div>
      }@else if (user.statut == 'chef') {
      <div class="sidebar">
        <div class="sidebar-header">
          <i class="bi bi-person-circle icon-extra-large" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
          <h3>{{user.nom}}</h3>

        </div>

        <ul class="sidebar-menu">
          <li class="sidebar-item" routerLinkActive="bg-success text-white" [routerLink]="['/home/utilisateur']">
            <a class="nav-llink" id="link">Agent</a>
          </li>
        </ul>
        <ul>
          <!-- <h5><STROng>{{one_service.nom}}</STROng></h5>
            <li><a href={{tache.lien}}>{{tache.nom}}</a></li> -->
          @for (tache of les_taches; track $index) {
          @for (one_service of les_services; track $index) {
          @if (tache.type == 'par défaut' ) {
          @if (tache.id_service == one_service.id_service) {
          <h5><STROng>{{one_service.nom}}</STROng></h5>
          <li><a href={{tache.lien}}>{{tache.nom}}</a></li>
          }
          }
          }
          }
          @for (one_structure of les_structures; track $index) {
          @if (user.id_structure == one_structure.id_structure) {
          @for (one_service of les_services; track $index) {
          @if (user.id_structure == one_service.id_structure) {
          <h5><STROng>{{one_service.nom}}</STROng></h5>
          @for (tache of les_taches; track $index) {
          @if (tache.id_service == one_service.id_service) {
          <li><a href={{tache.lien}}>{{tache.nom}}</a></li>
          }
          }
          }
          }
          }
          }
        </ul>
      </div>
      }
    </div>
    <div class="container" id="container">
      <!-- <img src="../../../assets/image/logosamahampate.png" alt=""> -->
      <router-outlet></router-outlet>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content align-items-center justify-content-center">

          <i class="bi bi-person-circle icon-extra-large"></i>
          <h3>{{user.nom+" "+user.prenom}}</h3>
          <h6><strong>Email : </strong>{{user.email}}</h6>
          <span><strong>Statut : </strong>{{user.statut}}</span>
          @for (service of les_services; track $index) {
          @if (service.id_service == user.id_service) {
          <span><strong>Post :</strong> {{service.nom}}</span>
          }
          }
          <div id="deconnexion" class="d-flex align-content-center justify-content-end">
            <a routerLinkActive="bg-primary text-white" (click)="deconnexion()" data-bs-dismiss="modal"
              class="btn btn-outline-secondary m-4">
              <i class="bi bi-box-arrow-left"></i>
              Deconnexion
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
